.watchlist-item {
    padding: 0 !important;
    cursor: pointer;
    position: relative;
    .row {
        &.strike-thru {
            text-decoration: line-through;
        }

        .image-container {
            max-height: 185px !important;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .content-container {
            height: 185px;
            width: 100%;
            .summary {
                height: 100px;
                overflow: hidden;
            }
        }
    }
    .close-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
